<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
             [v-cloak]{
              display: none;
             }
        </style>
    </head>
    <body>
    <div id="app">
        <h1 v-if="isshow" v-cloak>Yes</h1>
        <h1 v-if='isshow' v-cloak>Y</h1>
        <h1 v-else v-cloak>N</h1>
    </div>
   
    <script src="../vue221.js"></script>
    <script>
      new Vue({
        el : '#app',
        data : {
          isshow : true
        }
      })
    </script>
    </body>
</html>